body, html{
    background: #1e272e;
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .todoListByTidyCoder{
    background: #ffbe76;
    border-radius: 9px;
    padding: 3px 7px 11px 7px;
    max-height: 75vh;
    width: 333px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .todoListByTidyCoder > div:first-child{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
  }
  .todoListByTidyCoder > div:first-child > *{
    border-radius: 5px;
    padding: 9px;
    border: 2px solid #f0932b;
    margin: 3px;
  }
  .todoListByTidyCoder > div:first-child > button{
    background: #f0932b;
    border: none;
    cursor: pointer;
  }
  .todoListByTidyCoder > div:first-child > button:hover{
    background: #e74c3c;
    border: none;
  }
  .todoListByTidyCoder > div:first-child > button:active{
    background: #c0392b;
    border: none;
  }
  .todoListByTidyCoder > div:last-child{
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 0;
    margin: 0;
  }
  .todoListByTidyCoder > div:last-child > div{
    border: 1px solid black;
    margin: 0;
    padding: 0 3px 0 15px;
    background: #ecf0f1;
    word-break: break-word;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .todoListByTidyCoder > div:last-child > div > div > button{
    border: none;
    padding: 15px;
    margin: 0;
    border-radius: 50%;
  }